/* @font-face {
    font-family: 'cloud_lightlight';
    src: url('font/cloud-light-webfont.eot');
    src: url('font/cloud-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/cloud-light-webfont.woff2') format('woff2'),
         url('font/cloud-light-webfont.woff') format('woff'),
         url('font/cloud-light-webfont.ttf') format('truetype'),
         url('font/cloud-light-webfont.svg#cloud_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cloudbold';
    src: url('font/cloud-bold-webfont.eot');
    src: url('font/cloud-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/cloud-bold-webfont.woff2') format('woff2'),
         url('font/cloud-bold-webfont.woff') format('woff'),
         url('font/cloud-bold-webfont.ttf') format('truetype'),
         url('font/cloud-bold-webfont.svg#cloudbold') format('svg');
    font-weight: normal;
    font-style: normal;
} */
/* @font-face {
  font-family: "OpenSansRegular";
  src: url("font/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("font/OpenSans/OpenSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("font/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "Chula";
  src: url("font/Chula/ChulaCharasNewReg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body,
span,
div,
a,
h1,
h2,
h3,
h4,
b,
th,
td,
.topic,
.display-4,
.display-3,
.display-2,
.display-1,
.headline,
.title,
.subheading,
.body-2,
.body-1,
.caption {
  font-family: "Chula" !important;
  /* color: rgb(222, 226, 215); */
  /* color: #777777; */
}

html,
body,
/* span, */
b,
th {
  font-size: 16px !important;
}

.fn10 {
  font-size: 10px !important;
}

.fn11 {
  font-size: 11px !important;
}

.fn12 {
  font-size: 12px !important;
}

.fn14 {
  font-size: 14px !important;
}

.fn16 {
  font-size: 16px !important;
}

.fn20 {
  font-size: 20px !important;
}

.fn22 {
  font-size: 22px !important;
}

.fn24 {
  font-size: 24px !important;
}

.fn10-weight7 {
  font-size: 10px !important;
  font-weight: 700 !important;
  /* font-family: "OpenSansBold" !important; */
}

.fn12-weight7 {
  font-size: 12px !important;
  font-weight: 700 !important;
  font-family: "OpenSansBold" !important;
}

.fn14-weight7 {
  font-size: 14px !important;
  font-weight: 700 !important;
  font-family: "OpenSansBold" !important;
}

.fn16-weight7 {
  font-size: 16px !important;
  font-weight: 700 !important;
  font-family: "OpenSansBold" !important;
}

.fn18-weight7 {
  font-size: 18px !important;
  font-weight: 700 !important;
  font-family: "OpenSansBold" !important;
}

.fn20-weight7 {
  font-size: 20px !important;
  font-weight: 700 !important;
  font-family: "OpenSansBold" !important;
}

.fn22-weight7 {
  font-size: 22px !important;
  font-weight: 700 !important;
  font-family: "OpenSansBold" !important;
}

.fn24-weight7 {
  font-size: 24px !important;
  font-weight: 700 !important;
  font-family: "OpenSansBold" !important;
}

.fn28-weight7 {
  font-size: 28px !important;
  font-weight: 700 !important;
  font-family: "OpenSansBold" !important;
}

.font20 {
  font-size: 20px !important;
  font-family: "OpenSansRegular" !important;
}